.link_li_ul_nav_cate_step_2:hover {
    transition: border-top-color ease 1s 0s , border-bottom-color ease 1s 0s  , border-left-color ease 1s 0s  , border-right-color ease 1s 0s;
    border: #8b2524 solid 3px;
}


@media(max-width: 719px){
    .li_ul_nav_cate_step_2{
        width: 80%;
        margin: 10px auto;
    }
}

@media(min-width: 720px) and (max-width: 970px){

    .li_ul_nav_cate_step_2{
        width: 50%;
        float: right;
    }
}

@media(min-width: 969px){

    .li_ul_nav_cate_step_2{
        float: right;
        width: 33.33%;
    }
}



