#form_input_search_factor{
    height: 50px;
}


.title_btn_search_factor_form{
    transition: color 1s ease 0s;
}


.btn_search_factor_form:hover  .title_btn_search_factor_form{
    transition: color 1s ease 0s;
    color: #ffffff;
}




.title_stting_set_day {
    width: 150px;
}


.value_stting_set_day{
    margin-top: 5px;
    width: 90px;
    height: 40px;
    padding-right: 20px;
}


#title_btn_stting_set_day{
    transition: color 1s ease 0s;
}
#btn_stting_set_day:hover #title_btn_stting_set_day{
    transition: color 1s ease 0s;
    color: #ffffff;
}









.title_state_form_all_factor{
    height: 50px;
}


.factor_active {
    background: #49d9ee;
}


.factor_diactive {
    background: #fb9d94;
}


.factor_browser {
    background: #edee86;
}


.icon_edit_factor_form {
    width: 32px;
    height: 32px;

    background-position: -317px -527px;
    background-size: 600px 600px;
}






@media (max-width: 969px) {

    #form_input_search_factor{
        display: flow-root;
        float: none;
        width: auto;
    }



    .title_top_form_all_factor{
        display: flow-root;
        float: none;
        width: auto;
    }
    .inside_title_top_form_all_factor{
        border-left: none;
    }

}

@media (min-width: 970px) {


    .inside_title_top_form_all_factor{
        border-bottom: none;
    }

}