#form_answer_question_panel{
    z-index: 1000;
    max-height: 100%;
}

#top_close_form_answer_question_panel{
    width: 30px;
    height: 30px;

    background-position: -7px -7px;
    background-size: 400px 400px;
}






/*btns*/
#efect_btn_edit_question{
    width: 80px;
    height: 50px;
}
#icon_btn_edit_question{
    width: 50px;
    height: 50px;

    background-position: -419px -17px;
    background-size: 800px 800px;
}


@media (max-width: 799px) {

    #form_answer_question_panel{
        width: 100%;
    }
}

@media (min-width: 800px) {

    #form_answer_question_panel{
        width: 800px;
    }

}