#icon_add_question{
    width: 32px;
    height: 32px;
    background-position: -347px -557px;
    background-size: 600px 600px;
}



#search_news_insert{
    height: 50px;
}

#title_empty_news{
    line-height: 100px;
}

.form_img_news{
    height: 100px;
}




.inside_title_bottom_form_all_info  , .title_bottom_form_info  , .inside_img_top_item_news{
    height: 100px;
    line-height: 100px;
}


.a_icon_edit_news{
    width: 32px;
    height: 32px;
    background-position: -317px -527px;
    background-size: 600px 600px;
}

.a_icon_delete_news{
    width: 32px;
    height: 32px;
    background-position: -407px -557px;
    background-size: 600px 600px;
}

.a_icon_eye_news{
    width: 32px;
    height: 32px;
    background-position: -257px -256px;
    background-size: 600px 600px;
}





@media (max-width: 969px) {

    .form_title_info_site , .title_top_form_info  , .title_bottom_form_info  , .form_img_news {
        display: flow-root;
        float: none;
        width: auto;
    }

    .title_title_info_site , .inside_title_top_form_all_info  , .inside_title_bottom_form_all_info, .inside_img_top_item_news{
        border-left: none;
    }

}

@media (min-width: 970px) {

    .title_title_info_site  , .inside_title_top_form_all_info  , .inside_title_bottom_form_all_info  , .inside_img_top_item_news{
        border-bottom: none;
    }

}